.error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}

.form-container { 
    background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .7)), url(/img/background-auth.jpg);
    height:  80vh;
    object-fit: fill;
    display: flex;
    
    justify-content: center;
    align-items: center;
    
}

.form-container form{
    background-color: #BCE0E1;
    padding : 1.5rem;
    border-radius: 1.5rem;
    border: 3px white solid;
}