{{>header}}


<div class="login-form">
    <form action="">
        <h1 class="form-title">Login</h1>
        <div class="form-control"><label for="email">Email</label><input type="text" id="email" placeholder="Input email here"/></div>
        <div class="form-control"><label for="password">Password</label><input type="text" id="password" placeholder="Input password here"/></div>
    </form>
</div>